extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.about-hero
    .about-hero__socials
      ul.socials
        li.socials__item
          a(href="https://vk.com/mruslanv" target="_blank").socials__link
            +icon('vk', 'socials__icon')
        li.socials__item
          a(href="https://github.com/canonkko" target="_blank").socials__link
            +icon('github', 'socials__icon')
        li.socials__item
          a(href="#0" target="_blank").socials__link
            +icon('in', 'socials__icon')
    .about-hero__hamburger
      a(href="#0").hamburger
        span
    .about-hero__user
      .user
          .user__img
            img(src='assets/images/content/author.jpg', alt='Руслан Мерзляков')
          h1.user__title Руслан Мерзляков
          .user__subtitle Личный сайт веб разработчика
    .about-hero__arrow
      a(href="#0").arrow-down


  section.about
    .about__row
      .about__item
        .about__triangle
          svg(width='100%', height='100px', viewBox='0 0 100 100', preserveAspectRatio='none')
            polygon(fill='#f2f0e8', points='0,100 0,0 100,100')
        .about__desc
          .about__title
            h2.h2 Обо мне
          .about__info
            img(src="assets/images/content/author.jpg", alt="Руслан Мерзляков")
            h3.h3 Кто я
            .about__text
              p Я веб-разработчик из Перми. Мне 35 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            .about__text 
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .about__item
        .about__triangle
          svg(viewBox='0 0 100 100', preserveAspectRatio='none')
            polygon(fill='#eae8e2', points='100,100 0,100 100,0')
        h3.h3 
          | Чем я могу быть
          br 
          | вам полезен
        .about__text
          p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        ul.skills
          li.skills__item
            h4.h4 Frontend
            ul.about__list
              li.skills-row 
                span HTML5
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 10", stroke-dashoffset="0")
              li.skills-row
                span CSS3
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 10", stroke-dashoffset="25")
              li.skills-row
                span 
                  | JavaScript 
                  br
                  | & jQuery
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 10", stroke-dashoffset="35")
          li.skills__item
            h4.h4 Backend
            ul.about__list
              li.skills-row 
                span PHP
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 10", stroke-dashoffset="0")
              li.skills-row
                span mySQL
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 40", stroke-dashoffset="25")
              li.skills-row
                span 
                  | Node.js 
                  br
                  | & npm
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 10", stroke-dashoffset="35")  
              li.skills-row
                span Mongo.db
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 20", stroke-dashoffset="45")
          li.skills__item
            h4.h4 WorkFlow
            ul.about__list
              li.skills-row 
                span Git
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 10", stroke-dashoffset="0")
              li.skills-row
                span Gulp
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 20", stroke-dashoffset="35")
              li.skills-row
                span npm
                svg.donut(width='120px', height='120px', viewBox='0 0 42 42')
                  circle.donut-ring(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#e0ddd6', stroke-width='6')
                  circle.donut-segment(cx='21', cy='21', r='15.91549430918954', fill='transparent', stroke='#004cd1', stroke-width='6', stroke-dasharray="85 25", stroke-dashoffset="35")
  

  section.map#map
    img(src="assets/images/content/map.jpg", alt="map")
    .map__contacts
      .contacts
        h3.h3 Контакты
        ul.contacts__list
          li.contacts__item
            .contacts__icon
              +icon('skype', 'contacts__icons')
            a.contacts__link(href="skype:canonkko?add") canonkko
          li.contacts__item
            .contacts__icon
              +icon('phone_n', 'contacts__icons')
            a.contacts__link(href="tel:+79630184890") +7 963 018 48 90
          li.contacts__item
            .contacts__icon
              +icon('envelope_n', 'contacts__icons')
            a.contacts__link(href="mailto:ruslankko@gmail.com")  ruslankko@gmail.com
          li.contacts__item
            .contacts__icon
              +icon('map_n', 'contacts__icons')
            | Пермь