extends ../auth.layout.pug

block content
  section.hero.section
    .hero__btn
      a.btn-auth(href="#0") Авторизоваться
    .hero__user
      .hero__row
        .user
          .user__img
            img(src='assets/images/content/author.jpg', alt='Руслан Мерзляков')
          h1.user__title Руслан Мерзляков
          .user__subtitle Личный сайт веб разработчика
      ul.socials
        include ../common/socials.pug
      .hero__links
        ul.user-links
          - 
            var links = [
              {
                link: 'works.html',
                text: 'Мои Работы'
              },
              {
                link: 'about.html',
                text: 'Обо мне'
              },
              {
                link: 'blog.html',
                text: 'Блог'
              }
            ]
          each link in links
            li.user-links__item
              a(href=`${link.link}`).user-links__link=link.text
          
    .hero__footer
      p 
        | &copy; Владимир Астахов | создано с любовью в LoftSchool | 2016
