extends ../auth.layout.pug

block content
  section.hero.section
    .hero__auth
      a.btn-auth(href="#0") Авторизоваться
    .hero__box
      .hero__cart

        .hero__user
          .hero__row
            .user
              .user__img
                img(src='assets/images/content/author.jpg', alt='Руслан Мерзляков')
              h1.user__title Руслан Мерзляков
              .user__subtitle Личный сайт веб разработчика
          ul.socials
            include ../common/socials.pug
          .hero__links
            ul.user-links
              - 
                var links = [
                  {
                    link: 'works.html',
                    text: 'Мои Работы'
                  },
                  {
                    link: 'about.html',
                    text: 'Обо мне'
                  },
                  {
                    link: 'blog.html',
                    text: 'Блог'
                  }
                ]
              each link in links
                li.user-links__item
                  a(href=`${link.link}`).user-links__link=link.text
        .hero__user
          .hero__row
            .auth
              h3.h3 Авторизуйтесь
              form.auth-form
                .auth-form__row
                  .auth-form-group
                    .auth-form__input-icon
                      +icon('login', 'input__icon')
                    input.auth-form__input(type="text" name="login" placeholder="Логин" required)
                .auth-form__row
                  .auth-form-group
                    .auth-form__input-icon
                      +icon('password', 'input__icon')
                    input.auth-form__input(type="password" name="password" placeholder="Пароль" required)
                .auth-form__row
                  input.auth-form__checkbox#human(type="checkbox" name="human" checked)
                  label.auth-form__label-checkbox(for="human") Я человек
                .auth-form__row
                  h4.auth-form__title Вы точно не робот?
                  input.auth-form__radio#robot(type="radio" name="robot" checked)
                  label.auth-form__label-radio(for="robot") Да
                  input.auth-form__radio#robot2(type="radio" name="robot")
                  label.auth-form__label-radio(for="robot2") Не уверен
                .hero__links
                  ul.user-links
                    li.user-links__item
                      a(href="#0").user-links__link.js-user-links__link На главную
                    li.user-links__item
                      button.user-links__link Войти
          
    .hero__footer
      p 
        | &copy; Владимир Астахов | создано с любовью в LoftSchool | 2016
