extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content
  section.about-hero
    .hero__bg
      img(src="assets/images/bg/hero_bg.jpg", alt="")
    .hero__uzor
      img.hero__img(src="assets/images/content/uzor.png", alt="")
    .about-hero__socials
      ul.socials
        include ../common/socials.pug
    .about-hero__hamburger
      a(href="#0").hamburger
        span
    .about-hero__user
      .user
        .user__img
          img(src='assets/images/content/author.jpg', alt='Руслан Мерзляков')
        h1.user__title Руслан Мерзляков
        .user__subtitle Личный сайт веб разработчика
    .about-hero__arrow.about-hero__arrow_works
      a(href="#0").arrow-down
        +icon('arrow_down', 'arrow__icon')

  section.works#anchor
    .works__title
      h2.h2 Мои работы
      img.works__line(src="assets/images/bg/works_header.png", alt="")
    #slider-component
      
    
  section.review
    h2.h2 Что обо мне 
      br
      | говорят
    ul.review__list
      li.review__item
        .review__avatar
          img(src="assets/images/content/avatar_1.png", alt="Ковальчук Дмитрий")
        .review__text
          p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .review__author
          p Ковальчук Дмитрий
            span — основатель Loftschool
      li.review__item
        .review__avatar
          img(src="assets/images/content/avatar_2.png", alt="Сабанцев Владимир")
        .review__text
          p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
        .review__author
          p Сабанцев Владимир
            span — преподаватель
    
    .form-box
      h3.h3 Связаться со мной
      form.form
        input.form__input(type="text", placeholder="Ваше имя", name="name", required)
        input.form__input(type="email", placeholder="Ваш email", name="email", required)
        textarea.form__textarea(placeholder="Ваше сообщение", name="message", required)
        .form__btns
          button.btn Отправить
          button(type="reset").btn.btn_trsp Очистить
    .about-hero__arrow
      a(href="#0").arrow-down
        +icon('arrow_down', 'arrow__icon')
