footer.footer
  .footer__body
    .footer__item
      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__item
      .footer__menu
        nav.nav
          ul.nav-menu
            - 
              var links = [
                {
                  link: 'works.html',
                  text: 'Мои Работы'
                },
                {
                  link: 'about.html',
                  text: 'Обо мне'
                },
                {
                  link: 'blog.html',
                  text: 'Блог'
                },
                {
                  link: '#0',
                  text: 'Авторизация'
                }
              ]
            each link in links
              li.nav-menu__item
                a.nav-menu__link(href=`${link.link}`)=link.text
      ul.socials.socials_footer
        include ./socials.pug
    .footer__item
      ul.footer-contacts
        li.footer-contacts__item
          a.footer-contacts__link(href="skype:canonkko?add") canonkko
        li.footer-contacts__item
          a.footer-contacts__link(href="mailto:ruslankko@gmail.com") ruslankko@gmail.com
        li.footer-contacts__item
          a.footer-contacts__link(href="tel:+79630184890") +7 963 018 48 90
        li.footer-contacts__item г. Пермь
          
  .footer__bottom
    p &copy; Владимир Астахов | Создано с любовью в LoftSchool | 2018
