
@media screen and (max-width: 1350px) {
  .footer {
    &__body {
      flex-wrap: wrap
    }
    &__item {
      width: calc(50% - 60px);
      padding: 0;
      margin: 0 30px;
      &:first-child {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(#fff,0.2);
        margin-bottom: 20px;
      }

      &:nth-child(2) {
        border: none;
        width: calc(65% - 60px);
      }
      &:nth-child(3) {
        width: calc(35% - 60px);
      }
    }

    &-contacts {
      text-align: right;
    }
    
  }
}
@media screen and (max-width: 1300px) {
  .about {
    &__triangle {
      height: 100px;
      &_right {
        svg polygon {
          fill:#f2f0e8;
        }
      }
    }

    &__row {
      display: block;
    }

    &__item {
      width: 100%;
      display: block;
      padding: 40px 15px;
      text-align: center;
    }

    &__desc {
      display: block;
    }

    &__title {
      width: 100%;
    }

    &__info {
      width: 100%;
      max-width: 440px;
      display: inline-block;
      text-align: left;
    }

    &__list {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__text {
      max-width: 470px;
      display: inline-block;
    }
  }

  .skills {
    &-list {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}


@media screen and (max-width: 769px) {
  .about {

    &__triangle {
      height: 40px;
    }

    &-hero {
      min-height: 550px;
    }
  }
  .contacts {
    &__list {
      display: block;
    }

    &__item {
      width: 100%;
      margin: 40px 0;

      &:last-child {
        margin-bottom: 15px;
      }
    }
  }

  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
  }
}


@media screen and (max-width: 720px) {
  .nav-menu {
    justify-content: center;
    margin: 0 -5px;

    &__item {
      margin: 0 5px;
    }
  }
  .socials_footer {
    justify-content: center;
  }
  .review {
    &__list {
      display: block;
      text-align: center;
    }

    &__item {
      margin: 0;
      &:first-child {
        margin-bottom: 30px;
      }
    }
  }
  .footer {
    &__body {
      flex-wrap: wrap;
      font-size: 14px;
    }
    &__item {
      width: 100%;
      text-align: center;
      margin: 0 8px;

      &:nth-child(2) {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(#fff,0.2);
        margin-bottom: 20px;
      }
      &:nth-child(3) {
        width: 100%;
      }
    }

    &-contacts {
      text-align: center;
    }
    
  }
}
