.about-hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 650px;

  &__socials {
    position: absolute;
    left: 30px;
    top: 30px;
  }

  &__hamburger {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  &__arrow {
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    z-index: 5;

    &_works {
      bottom: 30%;
    }
  }


}

.arrow-down {
  width: 26px;
  height: 16px;
  opacity: 0.8;
  display: inline-block;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

.arrow__icon {
  width: 100%;
  height: 100%;
  display: block;
  fill: #fff;
}

.about {
  background-color: #f2f0e8;
  position: relative;

  &__row {
    display: flex;
  }

  &__item {
    width: 50%;
    padding: 0 30px;

    &:nth-child(2) {
      background-color: #eae8e2;
    }
  }

  &__triangle {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 20%;
    &._left {
      right: 50%;
    }
    &._right {
      left: 50%;
    }
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__desc {
    display: flex;
  }

  &__title {
    width: 50%;
    text-align: center;
  }

  &__info {
    margin-top: 15px;
    width: 50%;
    margin-left: auto;

    img {
      width: 100%;
      max-width: 440px;
    }
  }

  &__text {
    margin-bottom: 15px;
  }

}
