.auth {

  .h3 {
    &::after {
      display: none;
    }
  }

  &-form {

    &__title {
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__checkbox {
      display: none;

      &:checked {
        + label::after {
          opacity: 1;
        }
      }
    }

    &__label-checkbox {
      position: relative;
      padding-left: 25px;
      font-weight: 400;
      &::before {
        position: absolute;
        left: 0;
        content: '';
        border-radius: 2px;
        background-color: $blue;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        background: url(./assets/images/content/check.svg) center no-repeat;
        background-size: 12px 9px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    }

    &__radio {
      display: none;

      &:checked {
        + label::after {
          opacity: 1;
        }
      }
    }

    &__label-radio {
      position: relative;
      padding-left: 30px;
      font-weight: 400;
      margin: 0 20px;
      &::before {
        position: absolute;
        left: 0;
        content: '';
        border-radius: 50%;
        border-width: 1px;
        border-color:  #cccccc;
        border-style: solid;
        background-color:  #ffffff;
        width: 19px;
        height: 19px;
        cursor: pointer;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        border-radius: 50%;
        background-color:  #0548be;
        width: 21px;
        height: 21px;
        border: 6px solid #fff;
        box-sizing: border-box;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    }

    &__row {
      margin-bottom: 20px;
    }

    &-group {
      display: flex;
    }

    &__input {
      width: 100%;
      max-width: 295px;
      outline: none;
      border: none;
      padding: 0 20px;

      &-icon {
        background-color:  #f0efe9;
        width: 45px;
        height: 45px;
        line-height: 55px;
      }
    }
  }

}

.input__icon {
  max-width: 18px;
  max-height: 18px;
  fill: #c5ccce;
}