.blog {
  display: flex;
  justify-content: center;
  background-color: #faf8f0;
  padding: 0 15px;
  padding-top: 50px;
  position: relative;
  width: 100%;

  &__triangle {
    position: absolute;
    bottom: 100%;
    height: 150px;
    &_right {
      right: 0;
      left: 50%;
    }
    &_left {
      right: 50%;
      left: 0;
    }
  }
  &__post {
    border-bottom: 4px solid rgba(55, 62, 66, 0.07);
    padding-bottom: 65px;
    margin-bottom: 60px;
    img {
      max-width: 100%;
      height: auto;
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    &-date {
      color: rgba(8, 60, 150, 0.85);
    }

    &-text {
      margin-top: 20px;
      p {
        margin-bottom: 15px;
      }
    }
  }
}

.sidebar {
  width: 30%;
  max-width: 265px;
  margin-right: 5%;
  padding-top: 15px;
}

.nav-sidebar {
  text-align: right;

  &__item {
    margin-bottom: 25px;
    position: relative;

    &.active {
      font-weight: 700;
      .nav-sidebar__link {
        color: rgba(8, 60, 150, 0.85);
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background-color: #0548be;
        width: 3px;
        height: 42px;
      }
    }

  }

  &__link {
    color: #455a64;
    padding-right: 17px;
    display: block;
  }

  }

.main {
  width: 65%;
  max-width: 880px;
}
