.map {
  min-height: 700px;
  position: relative;
  img {
    width: 100%;
    display: block;
  }

  &__contacts {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contacts {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 580px;
  padding: 30px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding-left: 55px;
    position: relative;
    width: 50%;
    margin: 15px 0;
  }

  &__icon {
    background-position: center;
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  &__icons {
    fill: $blue;
    width: 45px;
    height: 45px;
  }

  &__link {
    color: $text-color;
  }
}
