.nav-menu {
  display: flex;
  margin: 0 -15px;
  font-weight: 700;

  &__item {
    margin: 0 15px;
  }

  &__link {
    color: #fff;
  }

  &.fixed {
    font-size: 63px;
    @include sansuswebissimo();
    font-weight: 400;
    display: block;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    .nav-menu__item {
      margin: 15px 0;
    }
  }
}