.overlay-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba($overlay-color, 0.87);
  z-index: 10;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  
  &.open {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }

  &__box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}